<!DOCTYPE html>
<html ng-app="universidadApp">
    <head>
        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8" />
        <link href="./../../css/bootstrap.min.css" rel="stylesheet"/>
        <script src="./../../js/lib/angular.min.js"></script>
        <script src="js/app.js"></script>
        <style>
         .puntero {
             cursor: pointer;
         }
        </style>
    </head>
    <body>
        <div class="container" ng-controller="listadoCtrl">
          <h1>ng-options</h1>
          <h4>Repeticiones para elementos</h4>
          <hr/>

          Seleccione el país. {{ paisSeleccionado }}
          <select id="" name="" class="form-control" ng-model="paisSeleccionado">
              <option value="">Seleccione...</option>
              <option ng-repeat="pais in paises" value="{{ pais.id }}">{{ pais.name }}</option>
          </select>
          <br/>

          Seleccione el país. {{ paisSeleccionado }}
          <select id="" name="" class="form-control" ng-model="paisSeleccionado" ng-options="pais.id as pais.name for pais in paises">
              <option value="">Seleccione...</option>
          </select>

        </div>
    </body>
</html>
