<!DOCTYPE html>
<html ng-app>
    <head>
        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8" />
        <link href="./../../css/bootstrap.min.css" rel="stylesheet"/>
        <script src="./../../js/lib/angular.min.js"></script>
    </head>
    <body>
        <div class="container">
          <h1>Evaluación</h1>
          <h2>Angular 101</h2>
          <hr/>
          <p>
            Nombre completo:
            <br/>
            <input name="" class="form-control" ng-model="nombre" type="text" value=""/>
            Lugar de trabajo:
            <br/>
            <input name="" class="form-control" ng-model="trabajo" type="text" value=""/>
            Salario en dólares:
            <br/>
            <input name="" class="form-control" ng-model="salario" type="text" value=""/>
          </p>
          <hr/>
          <p>
            Nombre: {{ nombre | uppercase }}
            <br/>
            Lugar de trabajo: {{ trabajo }}
            <br/>
            Nombre: {{ salario | currency }}
          </p>
        </div>
    </body>
</html>
