<!DOCTYPE html>
<html ng-app="universidadApp">
    <head>
        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8" />
        <link href="./../../css/bootstrap.min.css" rel="stylesheet"/>
        <script src="./../../js/lib/angular.min.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body>
        <div class="container" ng-controller="profesorCtrl as profe">
          <h1>Profesor</h1>
          <h4>{{ profesor.nombre }}</h4>
          <hr/>
          <div class="row">
              <div class="col-sm-3">
                  <section class="panel">
                      <div class="panel-body" align="center">
                          <img alt="" ng-src="{{ profesor.foto }}" class="img-circle" width="150px" height="150px" />
                      </div>
                  </section>
              </div>
              <div class="col-sm-9">
                  <section class="panel">
                      <div class="panel-body">
                          {{ profesor.bio }}
                          <br/>
                          <br/>
                          <strong>Edad:</strong> {{ profesor.edad }}
                          <br/>
                          <button type="button" class="btn btn-primary" ng-click="editarProfesor()">Editar</button>
                      </div>
                  </section>
              </div>
          </div>

          <div class="row" ng-show="mostrarCamposDeEdicion">
              <div class="col-sm-9">
                  <section class="panel">
                      <div class="panel-body">
                          Nombre:
                          <input class="form-control" name="" type="text" value="" ng-model="profesorEditado.nombre" />
                          <br/>
                          Edad:
                          <input class="form-control" name="" type="text" value="" ng-model="profesorEditado.edad" />
                          <br/>
                          Bio:
                          <textarea class="form-control" cols="30" id="" name="" rows="5" ng-model="profesorEditado.bio"></textarea>
                          <br/>
                          <br/>
                          <button class="btn btn-primary" ng-click="acualizarDatosProfesor()">Guardar</button>
                          <button class="btn btn-danger" ng-click="cancelarEdicionDeProfesor()">Cancelar</button>
                      </div>
                  </section>
              </div>
          </div>
        </div>
    </body>
</html>
